[submodule "Bus"]
	path = Bus
	url = git@github.com:Dominik-Sefr/Bus.git
[submodule "Polynominal"]
	path = Polynominal
	url = git@github.com:Dominik-Sefr/Polynominal.git
[submodule "Polynomial"]
	path = Polynomial
	url = git@github.com:Dominik-Sefr/Polynomial.git
[submodule "MoneyBox"]
	path = MoneyBox
	url = git@github.com:Dominik-Sefr/MoneyBox.git
[submodule "Competition"]
	path = Competition
	url = git@github.com:Dominik-Sefr/Competition.git
